.sidebar {
    height: 100vh !important;
    display: flex;
}

.main {
     background-color: rgb(47, 50, 56);
}

#root {
    color: white;
}

.duration {
    position: absolute;
    bottom: 8px;
    right: 16px;
}

.thumbnail {
  position: relative;
  text-align: center;
  color: white;
}